*{
    background-color: rgb(177, 120, 252);
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(248, 0, 0);
}   


.container {
    display: flex;
    gap: 15px;
    align-items: center;
}



.controls {
    flex-direction: column;
    color: rgb(223, 238, 18);
}

input {
    width: 50px;
    height: 10px;
    padding: 5px;
}

button{
    height: 25px;
    width: 100px;
    background-color: rgb(170, 0, 0);
    color: gold;
}

.square{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(23, 199, 0);
    background-color: rgb(0, 185, 31)
}
